body {
    background:#0f172a;
    color:white;
    font-family:Arial, sans-serif;
    text-align:center;
}

#controls {
    margin:20px;
}

button {
    background:#2563eb;
    border:none;
    color:white;
    padding:10px 20px;
    margin:5px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover {
    background:#1d4ed8;
}

#maze {
    display:grid;
    grid-template-columns: repeat(15, 32px);
    justify-content:center;
    margin-top:20px;
}

.cell {
    width:32px;
    height:32px;
    border:1px solid #1e293b;
}

.wall { background:#020617; }
.start { background:#22c55e; }
.goal { background:#ef4444; }
.visited { background:#38bdf8; }
.path { background:#fde047; }
